p{
    font-size: 14px;
}
.nav-link {
    padding: 0 15px;
  }
  @media (max-width: 990px) {
    .center-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 100%; 
    }
  }
  
   
  .navbar-toggler.custom-toggler {
    background-color: black; 
    border: none; 
    margin-left: 0; 
  }
  
  
 
.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
 
  
  
  @media (max-width: 990px) {
    .navbar-toggler {
      position: absolute;
      left: 10px; 
      top: 50%; 
      transform: translateY(-50%); 
    }
  }
  .nav-link.active {
    font-weight: bold;
    text-decoration: underline; 
  }



